.formControl.error textarea,
.formControl.error input{
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError{
    border: 1px solid rebeccapurple;
    padding: 5px;
    color: rebeccapurple;
}