.header {
    /*grid-area:h;*/
    background-color: deepskyblue;
    height: 70px;

  }
  
  .header img {
    width:30px;
  }

  .loginBlock {
      float: right;
  }
  .loginBlock a {
      color: white;
  }