
.nav {
    grid-area:n;
    background-color:#A9A9A9;
    padding: 20px;
  }

  .item a{
      font-size: 18px;
      color:white;
      text-decoration: none;
  }

  .item a.activeLink{
      color:rgb(252, 243, 197);
      font-size:22px;
  }
  li {
      margin-bottom: 15px;
  }
  ul {
      list-style:none;
  }